name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: SSH Remote Commands
        uses: appleboy/ssh-action@v1.2.5
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          script: |
            source ~/.bashrc || source ~/.profile
            
            cd htdocs/qnon.kr
            
            export GIT_SSH_COMMAND="ssh -i $HOME/.ssh/id_rsa -o StrictHostKeyChecking=no"
            git pull origin main
            
            [ -s "$HOME/anon/.nvm/nvm.sh" ] && \. "$HOME/anon/.nvm/nvm.sh"
            nvm use --delete-prefix default || node -v
            
            pnpm install
            pm2 reload all
