name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: SSH Remote Commands
        uses: appleboy/ssh-action@v1.2.5
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          script: |
            export PATH="$HOME/anon/.nvm/versions/node/v22.22.0/bin/node"
            export GIT_SSH_COMMAND="ssh -i $HOME/anon/.ssh/id_rsa -o StrictHostKeyChecking=no"
          
            cd htdocs/qnon.kr
            
            git pull origin main
            
            /home/anon/.nvm/versions/node/v22.22.0/bin/pnpm install
            
            /home/anon/.nvm/versions/node/v22.22.0/bin/pm2 reload all
