name: Deploy qnon.kr Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH Remote Commands
        uses: appleboy/ssh-action@v1.2.5
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          command_timeout: 30m
          script: |
            export PATH=$HOME/.nvm/versions/node/v22.22.0/bin:$PATH
            cd ~/htdocs/qnon.kr
            git fetch origin main
            git reset --hard origin/main
            pnpm install --frozen-lockfile
            pnpm build
            pm2 reload qnon.kr --update-env
